#introduce{
	width:7.5rem;
	margin:0 auto;
}
img{
	background:transparent;
}
.header_img{
	width:100%;
	height:3.8rem;
	display:block;
}
.introduce_type{
	width:100%;
	box-sizing:border-box;
	padding:.4rem .3rem;
	background:#fff;
}
.introduce_type_title{
	width:100%;
	display:flex;
	align-items: center;
	font-size:.36rem;
	font-weight:bold;
	color:#333;
	text-align:left;
	margin-bottom:.35rem;
}
.introduce_type_img{
	width:.44rem;
}
.type_img{
	width:.34rem;
	height:.34rem;

}
.introduce_type_item{
	width:100%;
	box-sizing:border-box;
	padding-left:.44rem;
	display:flex;
	align-items: center;
}
.introduce_type_item_item{
	width:1.3rem;
	height:.4rem;
	background:rgba(159,60,121,.2);
	font-size:.24rem;
	color:#a1417c;
	line-height:.4rem;
	text-align:left;
	box-sizing:border-box;
	margin-right:.2rem;
	display:flex;
	padding-left:.2rem;
	align-items: center;
}
.w28h22{
	width:.28rem;
	height:.22rem;
	margin-right:.15rem;
}
.w14h19{
	width:.14rem;
	height:.19rem;
	margin-right:.10rem;
}
.w18h22{
	width:.18rem;
	height:.22rem;
	margin-right:.10rem;
}
.info{
	width: 100%;
	padding:.4rem .3rem 1rem;
		font-size: .3rem;
	color: #666;
	text-align: left;
	box-sizing: border-box;
	background:#fff;
}
.info_title{
	display: flex;
	align-items: center;

	margin-bottom: .35rem;
}
.info_title img{
	width: .36rem;
	height: .36rem;
	margin-right: .1rem;
}
.type_img_bottom{
	width:.25rem;
	height:.33rem;
}