#bindPhone{
	width: 100%;
	background: url('../../../assets/09.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.input_plate{
	width: 6rem;
	height: 2rem;
	padding: 0 .3rem;
	box-sizing: border-box;
	border-radius: .1rem;
	background: #fff;
	margin-bottom: .25rem;
}
.input_item{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .28rem;
}
.border_bottom{
	border-bottom: .01rem solid #ddd;
}
.input_title{
	border: 0;
	text-align: right;
}
input{
	border: 0;
	text-align: right;
	outline:none;
}
input:active{
	border: 0;
	outline: 0
}
.confir{
	width: 6rem;
	height: 1rem;
	font-size: .32rem;
	color:#9f3c79;
	line-height: 1rem;
	border-radius: .1rem;
	text-align: center;
	background: #fff;
	font-weight: bold;
}